<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huawei.wuqf.mybatis.demo.MaterialInfoDao">

    <select id="selectMtSeqStatus" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT (seq >0) FROM sequence_info WHERE mt_id = #{mtId};
    </select>

    <update id="updateMtSeq">
        UPDATE sequence_info SET seq = seq + increment , m_time = NOW() WHERE mt_id = #{mtId};
    </update>

    <insert id="insertMtSeq">
        INSERT sequence_info SET seq = 1 ,mt_id = #{mtId},c_time = NOW(),m_time = NOW(),STATUS = 1;
    </insert>

    <select id="selectMtSeq" parameterType="long" resultType="java.lang.Integer">
        SELECT seq  FROM sequence_info WHERE mt_id = #{mtId};
    </select>
</mapper>
